USE [master]
GO
/****** Object:  Database [BD_Curso_Udemy]    Script Date: 21/5/2024 22:42:16 ******/
CREATE DATABASE [BD_Curso_Udemy]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BD_Curso_Udemy', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS01\MSSQL\DATA\BD_Curso_Udemy.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BD_Curso_Udemy_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS01\MSSQL\DATA\BD_Curso_Udemy_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BD_Curso_Udemy].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BD_Curso_Udemy]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 21/5/2024 22:42:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Codigo] [varchar](3) NULL,
	[Nombres] [varchar](50) NULL,
	[Apellidos] [varchar](50) NULL,
	[Fecha_Naci] [date] NULL,
	[Edad] [int] NULL
) ON [PRIMARY]
GO
USE [master]
GO
